@use 'reset.scss';
@use 'typography.scss';
@use 'layout.scss';
@use 'accessibility.scss';

:root {
  --clr-brand: #ff5700;
  --clr-primary: hsl(0 0% 5%);
  --clr-bg: hsl(0 0% 98%);
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}
